body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0
}

/*=========    Pages Components    =========*/
#login_form{
    padding: 10px;
	border-radius: 2px;
	background-color: #fff;
	border-color: rgba(11, 35, 38, 1);
}

.captcha{
	width: 120px;
	height: 40px;
	border: #333;
	border-radius: 5px;
}

/*========= Input Elements Styles =========*/
.text_edit{
    padding-left: 15px;
	padding-right: 15px;
	width: 250px;
	height: 35px;
	border-radius: 5px  0px 0px 5px;
	background-color: #fff;
	border-color: rgba(11, 35, 38, 1);
	color: #333;
}


/*========= Module Window Style =========*/

#module_window{
    display: none;
    position: absolute;
    top:20%;
    background-color: #fff;
	border-color: rgba(11, 35, 38, 1);
	color: #333;
}

#module_window_info{

}
#module_window_btn{
    
}
